.footer {
    width: calc(100% - 250px);
    position: fixed;
    bottom: 0;
    left: 250px;
    background: var(--navbar-footer-bg);
    color: var(--text-color);
    text-align: center;
    padding: 10px;
  }
  