<div class="header bg-gradient-success py-7 py-lg-8">
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--9 pb-0">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-5">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-3">
<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Redefinir Senha</h3>
        <form #f="ngForm"
              (ngSubmit)="onSubmit(f)">

            <div class="form-group">
                <label for="resetPasswordEmail"></label>
                <input type="email"
                       name="email"
                       ngModel
                       required
                       #email="ngModel"
                       class="form-control"
                       id="resetPasswordEmail"
                       placeholder="Digite seu email">
            </div>

            <button type="submit"
                    [disabled]="f.invalid"
                    class="btn btn-primary">Enviar <i class=""></i></button>
        </form>
    </div>
</div>
