<div class="header bg-gradient-success py-7 py-lg-8">
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--9 pb-0">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-9 col-md-5">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-6 py-lg-3">
          <div class="text-center text-muted mb-4">
            <small>
              <h2>Preencha os campos com atenção!</h2>
            </small>
            <form (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="Montante" type="number" [(ngModel)] = "loan.loanAmount" name = "">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-badge"></i></span>
                  </div>
                  <input class="form-control" placeholder="Nuit" type="number" [(ngModel)] = "loan.nuit" name = "">
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="estado do emprestimo" type="text" [(ngModel)] = "loan.loanStatus" name = "">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Data da criacao" type="date" [(ngModel)] = "loan.createdOn" name = "">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Data de pagamento" type="date" [(ngModel)] = "loan.expiresOn" name = "">
                </div>
              </div>
            </div>
            <div class="text-center">
              <!-- <a routerLinkActive="active" [routerLink]="['/home']"> -->
                <!-- <button type="button" class="btn btn-success mt-5" -->
                  <!-- <style="bottom: 3rem !important; border-radius: 2rem !important; position: relative;">Submeter> -->
                  <!-- pedido</button> -->
                  <button class = "btn btn-success mt-5" style="bottom: 3rem !important; border-radius: 2rem !important; position: relative;" type ="submit">Submeter pedido</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>