<div class="header bg-gradient-success py-7 py-lg-8">
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--9 pb--9" style="box-sizing:inherit;">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-9">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>
              <h2>Bem-vindo/a!</h2> Inicie sessão com as suas credenciais
            </small>
          </div>
          <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" name="username" placeholder="Nome de usuario" ngModel
              #usernameInput="ngModel" required>
            </div>
            <span class="help-block" style="color:red;"
            *ngIf="usernameInput.invalid && usernameInput.touched">Insira seu nome de usuario.</span>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" name="password" placeholder="Senha"
              ngModel
              #passwordInput="ngModel" required>
            </div>
            <span class="help-block" style="color:red;"
            *ngIf="passwordInput.invalid && passwordInput.touched">Insira sua senha.</span>
        <div class="d-flex justify-content-center mt-3 login_container">
          <button type="submit" [disabled]="loginForm.invalid || showLoading" name="button" class="btn login_btn">
            <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
            <span *ngIf="showLoading">Loading...</span>
            <span *ngIf="!showLoading">Iniciar
              sessão</span>
          </button>
        </div>
      </form>
    </div>
        <div class="mt-4">
          <div class="d-flex justify-content-center links">
            Não tem conta? <a routerLink="/register" class="ml-2" style="color: #2C3E50;">Registar</a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>