<div class="header bg-gradient-success py-7 py-lg-8">
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<!-- Page content -->
<div class="container mt--9 pb-0">
    <!-- Table -->
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-5">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-6 py-lg-0">
                    <div class="text-center text-muted mb-0">
                        <small>
                            <h2>Registe-se com</h2>
                        </small>
                    </div>
                    <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)">
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="Nome completo" placeholder="Nome completo"
                                required ngModel #nomeInput="ngModel">
                        </div>
                        <span class="help-block" *ngIf="nomeInput.invalid && nomeInput.touched"
                            style="color:red;">Insira seu nome completo</span>

                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="username" placeholder="Nome do utilizador"
                                required ngModel #usernameInput="ngModel">
                        </div>
                        <span class="help-block" *ngIf="usernameInput.invalid && usernameInput.touched"
                            style="color:red;">Insira seu nome de usuario</span>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                            </div>
                            <input type="number" class="form-control" name="username" placeholder="Nuit" required
                                ngModel #nuitInput="ngModel">
                        </div>
                        <span class="help-block" *ngIf="nuitInput.invalid && nuitInput.touched"
                            style="color:red;">Insira o seu nuit</span>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                            </div>
                            <input type="date" class="form-control" name="nascimento" placeholder="Data de nascimento"
                                required ngModel #nascimentoInput="ngModel">
                        </div>
                        <span class="help-block" *ngIf="nascimentoInput.invalid && nascimentoInput.touched"
                            style="color:red;">Insira sua data de nascimento</span>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                            </div>
                            <input type="text" class="form-control" name="morada" placeholder="Morada" required ngModel
                                #moradaInput="ngModel">
                        </div>
                        <span class="help-block" *ngIf="moradaInput.invalid && moradaInput.touched"
                            style="color:red;">insira a sua morada</span>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <select class="form-control" name="tipo" placeholder="Tipo de Usuario" required ngModel
                                #tipoInput="ngModel">
                                <option value="Administrador">Administrador</option>
                                <option value="Usuario comum">Utilizador comum</option>
                                <option value="Usuario comum">Mutuário</option>
                            </select>
                        </div>
                        <span class="help-block" *ngIf="usernameInput.invalid && usernameInput.touched"
                            style="color:red;">Selecione o tipo</span>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type="email" class="form-control" name="email" placeholder="Email" required ngModel
                                #emailInput="ngModel">
                        </div>
                        <span class="help-block" *ngIf="usernameInput.invalid && usernameInput.touched"
                            style="color:red;">Please enter a username</span>


                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>

                            <input type="password" class="form-control" name="password" placeholder="Senha" required
                                ngModel #passwordInput="ngModel">
                        </div>
                        <span class="help-block" *ngIf="passwordInput.invalid && passwordInput.touched"
                            style="color:red;">insira sua senha.</span>
                        
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button [disabled]="registerForm.invalid || showLoading" type="submit" name="button"
                                class="btn login_btn">
                                <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                                <span *ngIf="showLoading">Loading...</span>
                                <span *ngIf="!showLoading">Registar</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        Tem conta? <a routerLink="/login" class="ml-2" style="color: #2C3E50;">Iniciar
                            sessão</a>
                    </div>
                </div>
            </div>
        </div>