<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
        <!-- Card stats -->
    </div>
  </div>
</div>
  <h3> Detalhes do utilizador</h3>
  <div>
      <div>
          <label> <b> Nome: </b></label> {{utilizador.nome}}
      </div>
      <div>
          <label> <b> Username: </b></label> {{utilizador.username}}
      </div>
      <div>
          <label> <b> Email: </b></label> {{utilizador.email}}
      </div>
      <!--div>
          <label> <b> Morada: </b></label> {{mutuario.morada}}
      </div-->
  </div>
  
  
  