<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
        <!-- Card stats -->
    </div>
  </div>
</div>
   <!-- Tabela de Utilizadores  -->
   <div class="container-fluid mt--7">
    <!-- Table  -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Lista de Utilizadores</h3>
            </div>
          
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <!--th scope="col"> Ordem</th -->
                  <th scope="col"> Nome Completo</th>
                  <th scope="col"> Nome de Utlizador</th>
                  <th scope="col"> Email</th>
                  <th scope="col"> Tipo</th>
                  <th scope="col"> Ação</th>
                  <th>
                    <a class="btn btn-outline-success" routerLink="/create-utilizador"><i class="fa fa-plus-square"></i> Criar novo</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let utilizador of utilizadores" >
                    <td> {{ utilizador.nome}}</td>
                    <td> {{ utilizador.username}}</td>
                    <td> {{ utilizador.email}}</td>
                    <td> {{ utilizador.tipo}}</td>
                    <td>
                      <a class="btn text-success" (click)="updateUtilizador(utilizador.utilizador_id)"><i class="ni ni-cloud-upload-96"></i></a>
                      <a class="btn text-danger" (click)="deleteUtilizador(utilizador.utilizador_id)"><i class="ni ni-fat-remove"></i></a>
                      <a class="btn text-info" (click)="utilizadorDetails(utilizador.utilizador_id)"><i class="ni ni-bullet-list-67"></i></a>
                        <!-- <button (click) = "updateUtilizador(utilizador.utilizador_id)" class = "btn btn-info">Editar</button> -->
                        <!-- <button (click) = "deleteUtilizador(utilizador.utilizador_id)" class = "btn btn-danger" style="margin-left: 10px">Apagar</button> -->
                        <!-- <button (click) = "utilizadorDetails(utilizador.utilizador_id)" class = "btn btn-info" style="margin-left: 10px">Ver</button> -->
                    </td>
                </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  